<h2 class="blog-post-title">It's Alive!</h2>
<p class="blog-post-meta">October 11, 2016 - 1452 EST</p>



<p>Decided that this really is something that I want to do, so I purchased a domain name and hosting on GoDaddy and set my website up through there (primarily because I have used the service before). The domain I picked is (as I hope you can see above) "proceduralintelligence.com", which combines my love for procedural generation, artificial intelligence, and continuing to further my own knowledge. I'm still not entirely sure what this website will consist of, but I hope to use it to motivate myself to work on bigger and bigger projects.</p>

<p>Now I think I am going to start working on the basic structure of the website. Perhaps this blog will just be one part of a larger system. I'll probably write another post soon.</p>
<p>Until then, Keep learning.</p>