{% extends "base_template.html" %}
{% block title %}Gallery{% endblock %}
{% block small_width %}

<div class="blog-main">
    {% if user is not none %}
    <div class="row text-center">
        <p><button class="btn btn-success" onclick="location='/upload'">Upload New Picture</button></p>
        <br>
    </div>
    {% endif %}

    <div class="row">
        {% for picture in pictures %}
        <div class="visible-xs">
            <img src="{{ url_for('static', filename='images/'+picture) }}" class="img-responsive">
        </div>
        <div class="picture hidden-xs" style="background-image: url('{{ url_for('static', filename='images/'+picture) }}');">
            <!--<img src="{{ url_for('static', filename='images/'+picture) }}" class="bucket">-->
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
{% block sidebar %}{% endblock %}
