{% extends "base_template.html" %}
{% block title %}About Me{% endblock %}
{% block head %}
{{ super() }}
<style>
p, li {
  font-size: 1.2em;
}
</style>
{% endblock %}

{% block small_width %}
<div class="container">
  <h1>About Me</h1>

  <h2>Skills</h2>
  <p>Over the past few years I have worked to experience and try a variety of tools and languages to become a more well-rounded programmer. Some of the languages I've picked up (ranked in terms of proficiency) are:</p>
  <ul>
    <li>Python</li>
    <li>C++</li>
    <li>JavaScript</li>
    <li>Golang</li>
    <li>Java</li>
  </ul>
  <p>And some tools I've learned:</p>
  <ul>
    <li>Git</li>
    <li>MongoDB</li>
    <li>SQL</li>
    <li>Unity Game Engine</li>
    <li>Unreal Engine</li>
    <li>Godot Game Engine</li>
    <li>Splunk</li>
    <li>SocketIO</li>
    <li>Flask</li>
  </ul>

  <h2>Interests</h2>
  <p>Some of the things I'm most passionate about include: Game Development, Artificial Intelligence, and Running.</p>

  <h2>School</h2>
  <p>I am currently finishing up my second year at Miami University, with my plan being to graduate next year with a BS in Computer Science. I have taken courses on Algorithms, Data Structures, Networking, and more.</p>

  <p>I am the President of the Miami University ACM Chapter.</p>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
