<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/bootstrap/js/jquery.min.js"></script>

        <title>{% block title %}{% endblock %} - Procedural Intelligence</title>
        <!--
                        Well hey there! fancy meeting you here. Welcome to my site. If you would like to contact me,
                        feel free at najarvis2016@gmail.com.
        -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">


        <!-- Latest compiled and minified JavaScript -->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    	<link rel="stylesheet" type="text/css" href="/static/style/style.css">

        <!-- GOOGLE ANALYTICS -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91164641-1', 'auto');
            ga('send', 'pageview');

        </script>

    </head>
    {% endblock %}
    <body class="colorA">
    	<div class="container">

	    	<div class="jumbotron blog-header">
                <a class="Title" href="/"><h1 class="Title">Procedural Intelligence</h1></a>
	    		<!-- TODO: Make site sentient -->
	    		<p class="lead blog-description">My (Currently) Non-Sentient Blog</p>
	    	</div>

            {% block navigation %}
            <nav class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Procedural Intelligence</a>
                </div>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}

	    	<div class="row">
                {% block small_width %}
	    		<div class="col-sm-8 blog-main">
                    {% block content %}
                    {% endblock %}
                </div> <!-- End blog main -->
                {% endblock %}

                <div class="col-sm-4 blog-sidebar">
                    {% block sidebar %}

                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>My name is Nick Jarvis and I am a fan of Artificial Intelligence, Programming, Games, and Running.</p>
                    </div>

                    <div class="sidebar-module hidden-xs"> <!-- Twitter -->
                        <a class="twitter-timeline" data-theme="dark" data-tweet-limit="8" data-link-color="#19CF86" href="https://twitter.com/runningsfunning">Tweets by runningsfunning</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    {% endblock %}
                </div> <!-- End sidebar -->
	    	</div>	<!-- End row -->

    	</div> <!-- End container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>

