{% extends "base_template.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
{{ super() }}
<style>
p {
    font-size: 1.5em;
}
</style>
{% endblock %}
{% block small_width %}
<div class="container">
    <h1 class="text-center">Contact me</h1>
    <p class="text-center">Please feel free to contact me at <a href="mailto:najarvis2016@gmail.com">najarvis2016@gmail.com</a></p>
    <p class="text-center">You can also connect with me on <a href="https://www.linkedin.com/in/najarvis/">LinkedIn</a> or follow me on <a href="https://twitter.com/runningsfunning">Twitter</a></p>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

