{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style>
  .main_text {
    font-size: 1.5em;
  }

  .profile {
    height: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
</style>
{% endblock %}
{% block small_width %}
    <h2 class="text-center">Welcome!</h2>
    <p class="main_text text-center">My name is Nick Jarvis, and this is my personal website.</p>
    <img src="static/page_images/me_yawn.jpg" class="profile img-rounded img-responsive">
    <p class="main_text text-justify">I am a second-year Computer Science student at Miami University. I am a
       Programmer who specializes in web and game development. This website
       will serve as a place for me to present my projects and skills. Please
       feel free to explore this site and if you have any questions
       contact me at <a href="mailto:najarvis2016@gmail.com">najarvis2016@gmail.com</a></p>
{% endblock %}
{% block sidebar %}
{% endblock %}
