{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style>
  .main_text {
    font-size: 1.5em;
    padding: 0 10px 0 10px;
  }

  .profile {
    height: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
</style>
{% endblock %}
{% block small_width %}
    <h2 class="text-center">Welcome!</h2>
    <p class="main_text text-center">My name is Nick Jarvis, and this is my personal website.</p>
    <img src="static/page_images/me_yawn.jpg" class="profile img-rounded img-responsive">
    <p class="main_text text-justify">I'm currently on a biking adventure with my friend Evan Beckmeyer, check it out over on <a href="/blog">my blog</a>! Feel free to reach out to me at <a href="mailto:najarvis2016@gmail.com">najarvis2016@gmail.com</a>, though responses might be a bit delayed for the next few months.</p>
{% endblock %}
{% block sidebar %}
{% endblock %}
