{% extends "base_template.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
    <div class="blog-post"> 
        <h2>Villager Sim</h2>
        <br>
        <img src="{{ url_for('static', filename='page_images/SmallerScreenshot2.png') }}" class="img-responsive">

        <p><br>A project <a href="https://github.com/nickwayne">Nick Wayne</a> and I started more than 4 years ago and have worked off and on since. A test in Artificial Intelligence, villagers explore and colonize a randomly generated island without player input. End goal of the project is for them to fully colonize and learn over time how to grow more efficiently.</p>

        <p>Code link: <a href="https:/github.com/najarvis/villager-sim">GitHub</a></p>
    </div>

    <div class="blog-post">
        <h2>Sector Shm'up</h2>
        <br>
        <img src="{{ url_for('static', filename='page_images/Sector.png')}}" class="img-responsive">

        <p><br>A project <a href="https://github.com/nickwayne">Nick Wayne</a> and I did for a programming competition. Ended up being finalists at the National FBLA Contenst, so that's pretty cool. A Shm'up where you play as a computer virus tracker, going from level to level inside a computer fighting and destroying multiple kinds of malware! Very fun project that actually was 'completed.'</p>

        <p>Code link: <a href="https://github.com/NickWayne/NLC-2015">GitHub</a></p>
    </div>

    <div class="blog-post">
        <h2>Late For Class!</h2>
        <br>
        <img src="{{ url_for('static', filename='page_images/LateForClass.png') }}" class="img-responsive">

        <p><br>A project <a href="https://github.com/nickwayne">Nick Wayne</a> and I did for a 6 hour Gamejam. you are going to be late for class and need to be there in 30 seconds! jump with space to avoid obstacles and get there before the time runs out.</p>
        <p>Notes:</p>
        <ol>
            <li>No button to close the game when it is over, use Alt + F4.</li>
            <li>Music May be a little loud, (but is still awesome).</li>
            <li>No win / lose screens.</li>
        </ol> 

        <p>Download link: <a href="https://drive.google.com/drive/folders/0B1mUXYyKgBmHUmtad3hpUGFmeHc?usp=sharing">Google Drive</a></p>
    </div>
{% endblock %}
