<h2 class="blog-post-title">Villager Sim - Intro</h2>
<p class="blog-post-meta">January 31th, 2017 - 0919 DST</p>

<p>Villager Sim is a project Nick Wayne and I started for a competition. We were still learning Python, and were looking at a lot of the code from Will McGugan's "Beginning Game Development with Python and PyGame." One of the most intriguing chapters was the chapter on Artificial Intelligence. Game States were such a cool idea, and seemed so easy to implement. Plus, the example in the book with the ants collecting leaves was just so awesome.</p>

<p>At this point we were already planning on going to the Tech Olympics in Cincinnati, Ohio, and when we saw there was a showcase where we could present a project and compete against other schools. We decided to create our own version of the ant program but expand it in many ways. We settled on an idea of Villagers exploring and colonizing a random world, and the idea for Villager Sim was born.</p>

<p>

</p>