<h2 class="blog-post-title">New website host</h2>
<p class="blog-post-meta">January 30th, 2017 - 2100 DST</p>

<p>Procedural Intelligence has moved hosts to DigitalOcean from GoDaddy! This will allow for much greater customization and flexibility. Everything is still on the same code, so the code for fetching posts is still in php, though I plan to convert it to JavaScript. I also plan on posting more about projects I am working on, because there is always at least one project that I'm working on that will never get finished, and maybe writing about it is the way to see it to completion.</p>
<p>I plan on writing multiple articles about VillagerSim, since it is the project I have invested the most time in, and the project that I personally think is the coolest (although <a href="http://www.pygame.org/project-Don't+Touch+The+Edge!-2864-.html">'Don't touch the edge'</a> is still the best when it comes to replayablility, obviously).</p>
