{% extends "base_template.html" %}
{% block title %}Create User{% endblock %}

{% block content %}
<form class="form" method="post" id="create_user_form" onsubmit="upload(event);">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password">
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <input class="form-control" type="text" name="code">
    </div>
    <button onclick="upload(event);" class="btn btn-primary">Submit</button>
</form>
<div id="result"></div>

<script type="text/javascript">
    function upload(e) {
        e.preventDefault();

        var formData = $("#create_user_form").serializeArray();
        var jsonData = {};
        for (i in formData) {
            jsonData[formData[i]["name"]] = formData[i]["value"];
        }
        var strData = JSON.stringify(jsonData);
        
        $.ajax({
            type: "POST",
            url: "/create_user",
            data: strData,
            success: function(res){
                if (res["status"] == "success") {
                    window.location.replace("/login");
                }
            },
            dataType: "json",
            contentType: "application/json"
        });
    }
</script>
{% endblock %}

{% block sidebar %}{% endblock %}
