<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
	<style>
		html {
			overflow-y: hidden;
			overflow-x: hidden;
		}

		body {
			padding: 0;
			margin: 0;
		}

		canvas {
			border: 1px solid #d3d3d3;
			background-color: #f1f1f1;
			padding: 0;
			margin: 0;
		}
	</style>
</head>
<body onload="startGame()">
    <script src="{{ url_for('game.get_script', script='vector.js') }}"></script>
    <script src="{{ url_for('game.get_script', script='map_handler.js') }}"></script>
    <script src="{{ url_for('game.get_script', script='GameScript.js') }}"></script>
</body>
</html>
